body{
background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
}

header{
text-align:center;
padding:20px;
background:#1a1a1a;
}

.upload{
background:#1a1a1a;
padding:20px;
margin:20px;
border-radius:10px;
}

input, textarea{
width:100%;
padding:10px;
margin:5px 0;
border:none;
border-radius:5px;
}

button{
padding:10px;
background:#ff0066;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

#feed{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
gap:20px;
padding:20px;
}

.post{
background:#1a1a1a;
padding:15px;
border-radius:10px;
}

.post img{
width:100%;
border-radius:8px;
}

.likes{
cursor:pointer;
color:#ff4d6d;
}
